body {
  margin: 0;
  font-family: sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.content {
  width: 90%;
  height: 90vh;
  background: #21222C;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.number {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  padding: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  color: #21222C;
}

.anima-1 {
  width: 320px;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.anima-1::before {
  width: 3px;
  height: 3px;
  background: white;
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: calc(50% - 1px);
}

.text {
  text-transform: uppercase;
  width: 320px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 5em;
  text-align: center;
}

.layer-1 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.layer-2 {
  clip-path: polygon(100% 50%, 100% 100%, 0% 100%, 0% 50%);
}

.anima-1:hover .layer-2 {
  animation: drop .3s .2s 1 ease-in forwards;
}

.anima-1:hover::before {
  animation: knife .1s 1 ease-in-out forwards;
}

@keyframes drop {
  0% {}

  100% {
    transform: translateY(6px);
    color: rgb(129, 16, 16);
  }
}

@keyframes knife {
  0% {}

  30% {
    width: 30px;
  }

  100% {
    width: 30px;
    left: -30px;
  }
}

.anima-2:hover .layer-1 {
  transition: left .2s .2s;
  left: 5px;
  animation: none;
}

.anima-2:hover .layer-2 {
  transition: left .2s .2s;
  left: -5px;
  animation: none;
}

.clock {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  background: linear-gradient(-45deg, white, rgb(146, 146, 146));
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.7);
}

.clock div {
  width: inherit;
  height: inherit;
  position: relative;
}

.clock div::before {
  content: "";
  display: block;
  width: 4px;
  height: calc(50% - 5px);
  position: absolute;
  left: calc(50% - 2px);
  top: 5px;
  background: #000;
  border-radius: 10px;
}

.anima-3 {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
}

.cube {
  width: 100px;
  height: 100px;
  background: white;
  animation: cube 6s infinite ease-in;
}

.platform {
  width: 0;
  height: 15px;
  background: white;
  position: absolute;
  right: 100px;
  bottom: 35px;
  animation: anima3-platform 3s linear infinite;
  animation-delay: 3s;
}

@keyframes anima3-platform {
  0% {}

  100% {
    width: 300px;
  }
}

@keyframes cube {
  0% {}

  25% {
    transform: translate(100%, -100%) rotateZ(360deg);
  }

  50% {
    margin: 0;
    height: 100px;
    transform: translate(200%, 100%) rotateZ(720deg);
  }

  100% {
    margin: 300px 0 0;
    height: 0;
    transform: translate(200%, 100%) rotateZ(720deg);
  }
}